<div class="row">
  <div class="col-lg-7">
    <h3>Bots</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Strategy</th>
          <th>Config</th>
        </tr>
      </thead>
      <tbody *ngFor="let row of bots">
        <tr>
          <td>{{ row.id }}</td>
          <td>{{ row.description }}</td>
          <td>{{ row.strategy }}</td>
          <td>{{ row.config }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-5">
    <h3>Add new bot</h3>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Description</label>
      <input type="text" class="form-control col-sm-9" [(ngModel)]="botConfig.description">
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Strategy</label>
      <input type="text" class="form-control col-sm-9" [(ngModel)]="botConfig.strategy">
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Config</label>
      <input type="text" class="form-control col-sm-9" [(ngModel)]="botConfig.config">
    </div>
    <button class="btn btn-warning" (click)="saveBot()">Save</button>

  </div>
</div>