<div class="row">
  <div class="col-lg-7">
    <h3>Maps</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Size</th>
          <th>Players</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let row of gameMaps">
        <tr>
          <td>{{ row.id }}</td>
          <td>{{ row.description }}</td>
          <td>{{ row.gameMap.height }} x {{ row.gameMap.width }}</td>
          <td>{{ row.gameMap.players.length }}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="viewMap(row.gameMap)">View</button>
            <button class="btn btn-sm btn-danger" (click)="deleteGameMap(row.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-5">
    <div class="row">
      <div class="col-sm-12">
        <h3>Generate new map</h3>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Players</label>
          <div class="col-sm-9 col-form-label">
            R<input type="checkbox" class="form-control player-selector" [style.accentColor]="BG_COLORS[1]"
              [(ngModel)]="generatorConfig.players[0]">
            G<input type="checkbox" class="form-control player-selector" [style.accentColor]="BG_COLORS[2]"
              [(ngModel)]="generatorConfig.players[1]">
            B<input type="checkbox" class="form-control player-selector" [style.accentColor]="BG_COLORS[3]"
              [(ngModel)]="generatorConfig.players[2]">
            Y<input type="checkbox" class="form-control player-selector" [style.accentColor]="BG_COLORS[4]"
              [(ngModel)]="generatorConfig.players[3]">
            S<input type="checkbox" class="form-control player-selector" [style.accentColor]="BG_COLORS[5]"
              [(ngModel)]="generatorConfig.players[4]">
            V<input type="checkbox" class="form-control player-selector" [style.accentColor]="BG_COLORS[6]"
              [(ngModel)]="generatorConfig.players[5]">
            O<input type="checkbox" class="form-control player-selector" [style.accentColor]="BG_COLORS[7]"
              [(ngModel)]="generatorConfig.players[6]">
            P<input type="checkbox" class="form-control player-selector" [style.accentColor]="BG_COLORS[8]"
              [(ngModel)]="generatorConfig.players[7]">

          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Width</label>
          <input type="text" class="form-control col-sm-3" [(ngModel)]="generatorConfig.width">
          <label class="col-sm-3 col-form-label">Height</label>
          <input type="text" class="form-control col-sm-3" [(ngModel)]="generatorConfig.height">
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Density</label>
          <input type="text" class="form-control col-sm-3" [(ngModel)]="generatorConfig.density">
          <label class="col-sm-3 col-form-label">Towers</label>
          <input type="text" class="form-control col-sm-3" [(ngModel)]="generatorConfig.numTower">
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button class="btn btn-primary" (click)="generate()">Generate</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Map viewer</h3>
        <div class="form-group row">
          <div class="col-sm-12">
            <app-grid-renderer [grid]="grid"></app-grid-renderer>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Description</label>
          <input type="text" class="form-control col-sm-6" [(ngModel)]="description">
          <div class="col-sm-3">
            <button class="btn btn-warning" (click)="saveGameMap()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>