<div class="row">
  <div class="col-lg-7">
    <h3>Maps</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Size</th>
          <th>Players</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let row of gameMaps">
        <tr>
          <td>{{ row.id }}</td>
          <td>{{ row.description }}</td>
          <td>{{ row.gameMap.height }} x {{ row.gameMap.width }}</td>
          <td>{{ row.gameMap.players.length }}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="viewMap(row.gameMap)">View</button>
            <button class="btn btn-sm btn-danger" (click)="deleteGameMap(row.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-5">
    <div class="row">
      <div class="col-sm-12">
        <h3>Generate new map</h3>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Players</label>
          <input type="number" class="form-control col-sm-2" [(ngModel)]="generatorConfig.numPlayers">
          <div class="col-sm-1"></div>
          <button class="btn btn-sm btn-primary col-sm-1" (click)="usePreset(2)">2</button>
          <button class="btn btn-sm btn-primary col-sm-1" (click)="usePreset(3)">3</button>
          <button class="btn btn-sm btn-primary col-sm-1" (click)="usePreset(4)">4</button>
          <button class="btn btn-sm btn-primary col-sm-1" (click)="usePreset(5)">5</button>
          <button class="btn btn-sm btn-primary col-sm-1" (click)="usePreset(6)">6</button>
          <button class="btn btn-sm btn-primary col-sm-1" (click)="usePreset(7)">7</button>
          <button class="btn btn-sm btn-primary col-sm-1" (click)="usePreset(8)">8</button>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Width</label>
          <input type="text" class="form-control col-sm-3" [(ngModel)]="generatorConfig.width">
          <label class="col-sm-3 col-form-label">Height</label>
          <input type="text" class="form-control col-sm-3" [(ngModel)]="generatorConfig.height">
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Density</label>
          <input type="text" class="form-control col-sm-3" [(ngModel)]="generatorConfig.density">
          <label class="col-sm-3 col-form-label">Towers</label>
          <input type="text" class="form-control col-sm-3" [(ngModel)]="generatorConfig.numTower">
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button class="btn btn-primary" (click)="generate()">Generate</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Map viewer</h3>
        <div class="col-sm-12">
          <app-grid-renderer [grid]="grid"></app-grid-renderer>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Description</label>
          <input type="text" class="form-control col-sm-6" [(ngModel)]="description">
          <div class="col-sm-3">
            <button class="btn btn-warning" (click)="saveGameMap()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>